.swiper-slide[prefix="_swpSlide-md-54"] {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.swiper-slide[prefix="_swpSlide-md-54"] div {
  /* test css values */
  font-size: 48px;
  width: 100%;
}
